<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Task • TaskFlow</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="main-header">

  <a href="/logout" class="logout-btn">Logout</a>

  <div class="center-title">
    <img src="/images/logo.png" class="logo">
    <h1>TaskFlow</h1>
  </div>

  <a href="/profile">
    <img src="/uploads/<%= user.profilePic %>" class="avatar">
  </a>

</header>

<section class="form-page">
  <h2>Add New Task</h2>

  <form action="/tasks/add" method="POST" class="form-box">

    <label>Title</label>
    <input type="text" name="title" required>

    <label>Description</label>
    <textarea name="description" required></textarea>

    <label>Due Date</label>
    <input type="date" name="dueDate" required>

    <button class="btn">Add Task</button>
  </form>

  <p class="switch-link"><a href="/">← Back to Dashboard</a></p>
</section>

</body>
</html>